/* RESET */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
}
main{
    height: calc(100% - 100px);
}
 .container{
     height: 100vh;
     width: 100%;
 }

.top-upgrade{
    height: 100px;
    background-color: rgb(10, 10, 18);
    text-align: right;
    padding: 20px 0;  
    position: fixed;
    top: 0;
    width: calc(100% - 180px);
   
   
}

.logo{
    background-color: black;
    width: 150px;
    vertical-align: middle;
    padding: 20px 10px;
}
.upgrade{
    text-transform: uppercase;
    padding: 10px 20px;
    border: 2px solid grey;
    border-radius: 20px;
    background-color: transparent;
    color: white;
}
/* FLOAT */
.fl{
    float:left
}
.fr{
    float: right;
}
.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

/* MENU SULLA SINISTRA */

aside{
    height: 100%;
    width: 180px;
}
nav.menu{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: black;
    color: grey;
    overflow-y: auto;
    position: relative;
}

/* dimension e spaziatura "icone" */
.menu ul li a img{
    height:20px;
    width: 20px;
    filter:invert(1);
    filter: brightness(.5);
    vertical-align: middle;
}
.menu path{
    fill: grey;
}
.menu svg{
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
.fa-plus-square{
    font-size: 40px;
    margin-right: 10px;
}
.menu h5{
    padding: 20px 0  10px 20px;
    color: white;

}
.menu ul>li{
    line-height: 30px;
    padding-left: 20px;
    border-left: 2px solid transparent;
}
.menu ul>li>a{
    text-decoration: none;
    color: grey;
    font-size: .7em;
    list-style-type: none;
}
/* parte inferiore menu */
.aside-foot{
    padding: 0 20px;
    position: absolute;
    bottom: 10px;
    width: 100%;
}
.line{
    height: 2px;
    background-color: grey;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
}
.aside-foot img:nth-child(1){
    height: 10px;
    width: 10px;
}

.aside-foot .user img{
    background-color: grey;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    vertical-align: middle;
}
.aside-foot span{
    margin-left: 5px;
    font-size: .7em;
}
.aside-foot .user span{
    color: white;
    margin-left: 5px;
    font-weight: bold;
    font-size: 0.7em;
}
/* MAIN SECTION */
.main-container{
    
    height:100%;
    background-color: rgb(14, 14, 27);   
    overflow-y: auto;
    color: white;
    width: calc(100% - 180px);
    
    
}
.library-content{
    padding: 120px 20px 20px 20px;
    
}
/*  main menu */

.main-menu ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
}
.main-menu ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: grey;
    font-size: .8em;
    font-weight: bold;
}
.main-menu ul li{
    padding: 0 10px;
    padding-bottom: 30px;
}
/* Sezione banner */



.row{
    width: 100%;
    display: flex;
    margin-bottom: 20px;
    
}

.box{
    margin: 20px 10px;
    width: calc(100% / 6 - 20px);
    text-align: center;
}
.box img{
    width: 100%;
}
.box h4{
    padding-top: 15px;
}
.description{
    color: grey;
    font-size: 0.7em;
    padding-top: 15px;
}
.circle{
    border-radius: 50%;
}
/* FOOTER PLAYBAR */
footer{
    height: 100px;
    background-color: rgb(29, 29, 29);
    display: flex;
    align-items:center;
    
}
.playbar{
    width: 100%;
    display: flex;
    justify-content:space-between;
}
/* parte sinistra playbar */
.pl-left{
    width: 250px;
   
    
}
.pl-left img{
    width: 50px;
    height: 50px;
    vertical-align: middle;
    margin: 0 10px;
}
.brano{
    display: inline-block;
    vertical-align: middle;
    color: white;
    padding-right: 20px ;
}
.brano div{
    color: grey;
    font-size: .6em;
}

.pl-left .far{
    color: grey;
    font-size: 15px;
    padding-right: 10px
}

/* parte centrale playbar */

.pl-middle{
    width: 40%;
    

}
.player{
    margin-bottom: 10px;
    text-align: center;
    color: white;
}
.player .fas,
.player .far{
    font: 20px;
    padding-right: 15px;
    vertical-align: middle;
}
.fa-play-circle{
    font-size: 30px;
}
.slide-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slide-line{
    margin: 0 25px;
    width: 100px;
    height: 3px;
    border-radius: 5px;
    background-color: grey;
    flex-grow: 1;
    flex-shrink: 2;
  
}
.slide-line-active{
    height: 100%;
    width: 20%;
    background-color: rgb(229, 228, 228);
}
.slide-time{
    color: white;
    font-size: .7em;
}

/* parte destra playbar */
.pl-right{
    width: 200px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.pl-right .fas{
    font-size: 10px;
    padding-right: 10px;
}
.pl-right .slide-line{
    display: inline-block;
    width: 100%;
    flex-grow: 0;
    margin: 0;
    margin-right: 10px;
}