/* RESET */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
}
main{
    height: calc(100% - 100px);
}
 .container{
     height: 100vh;
     width: 100%;
 }

.top-upgrade{
    height: 100px;
    background-color: rgb(10, 10, 18);
    text-align: right;
    padding: 20px 0;  
    position: fixed;
    top: 0;
    width: calc(100% - 180px);
    z-index: 2;
   
   
}
.f-logo{
    display: none;
}
.logo{
    background-color: black;
    width: 150px;
    vertical-align: middle;
    padding: 20px 5px;
    height: 82px;
}
.upgrade{
    text-transform: uppercase;
    padding: 10px 20px;
    border: 2px solid grey;
    border-radius: 20px;
    background-color: transparent;
    color: white;
    transition: all .3s ease-in;
}
.upgrade:hover{
    transform: scale(1.1);
    margin-right: 10px;
}
/* FLOAT */
.fl{
    float:left
}
.fr{
    float: right;
}
.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

/* MENU SULLA SINISTRA */

aside{
    height: 100%;
    width: 180px;
}
nav.menu{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: black;
    color: grey;
    overflow-y: auto;
    position: relative;
}

/* dimension e spaziatura "icone" */
.menu ul li:hover a{
    color: white;
    font-weight: bold;
}
.menu ul>li:hover {
   border-left:3px solid yellowgreen;
}
.menu ul>li:focus {
    border-left:3px solid yellowgreen;
 }
.menu ul li:hover img{
    filter:invert(0);
    filter: brightness(1);
}
.menu ul li:hover path{
    fill: white;
}

.menu ul li a img{
    height:20px;
    width: 20px;
    filter:invert(1);
    filter: brightness(.5);
    vertical-align: middle;
}
.menu path{
    fill: grey;
}
.menu svg{
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
.fa-plus-square{
    font-size: 40px;
    margin-right: 10px;
}
.menu h5{
    padding: 20px 0  10px 20px;
    color: white;

}
.menu ul>li{
    line-height: 30px;
    padding-left: 20px;
    border-left: 3px solid transparent;
}
.menu ul>li>a{
    text-decoration: none;
    color: grey;
    font-size: .7em;
    list-style-type: none;
    font-weight: bold;
}
/* parte inferiore menu */
.aside-foot{
    padding: 5px 20px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    font-weight: bold;
    background-color: black;
}
.aside-foot span:hover{
 color: white;
 cursor: pointer;
}

.line{
    height: 2px;
    background-color: grey;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
}
.aside-foot img:nth-child(1){
    height: 15px;
    width: 15px;
    vertical-align: middle;
}

.aside-foot .user img{
    background-color: grey;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    vertical-align: middle;
}
.aside-foot span{
    margin-left: 5px;
    font-size: .7em;
}
.aside-foot .user span{
    color: white;
    margin-left: 5px;
    font-weight: bold;
    font-size: 0.7em;
}
/* MAIN SECTION */
.main-container{
    
    height:100%;
    background-color: rgb(14, 14, 27);   
    overflow-y: auto;
    color: white;
    width: calc(100% - 180px);
}
.library-content{
    padding: 120px 20px 20px 20px;
    
}
/*  main menu */
.main-menu ul>li>a>.line{
    background-color: yellowgreen;
    width: 25px;
    text-align: center;
    margin: 0;
    position: absolute;
    left: 50%;
    top: 18px;
    transform: translate(-50%, -50%);
    
    
}
.main-menu ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
}
.main-menu ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: grey;
    font-size: .8em;
    font-weight: bold;
    position: relative;
    
}
.main-menu ul li{
    padding: 0 10px;
    padding-bottom: 30px;
    
}
.main-menu ul li:hover a{
   color: white;
}
/* Sezione banner */

.play-btn{
    position: relative;
}
.play-btn .far{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    display: none;
}
.row .box:hover img{
    opacity: 0.2;
    cursor: pointer;
}
.row .box:hover .fa-play-circle{
    display: block;
}
.row{
    width: 100%;
    display: flex;
    margin-bottom: 20px;
    
}

.box{
    margin: 20px 15px 20px 0;
    width: calc(100% / 6 - 15px);
    text-align: center;
}
.box img{
    width: 100%;
}
.box h4{
    padding-top: 15px;
}
.description{
    color: grey;
    font-size: 0.7em;
    padding-top: 15px;
}
.circle{
    border-radius: 50%;
}
/* FOOTER PLAYBAR */
footer{
    height: 100px;
    display: flex;
    
    position: relative;
}
.playbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 1000;
    background-color: rgb(29, 29, 29);
    height: 100px;
    padding-top: 30px;}
/* parte sinistra playbar */
.pl-left{
    min-width: 152px;
   
    
}
.pl-left img{
    width: 40px;
    height: 40px;
    vertical-align: middle;
    margin-right: 5px;
    margin-left: 10px;
    
}
.brano{
    display: inline-block;
    vertical-align: middle;
    color: white;
    padding-right: 5px ;
}
.brano div{
    color: grey;
    font-size: .6em;
}
.brano:hover div{
    text-decoration: underline;
    color: white;
    cursor: pointer;
}


.pl-left .far{
    color: grey;
    font-size: 12px;
    padding-right: 5px
}
.pl-left .far:hover{
    color: white;
    cursor: pointer;
}

/* parte centrale playbar */

.pl-middle{
    width: 40%;
    
}
.player{
    margin-bottom: 10px;
    text-align: center;
    color: white;
}
.player .fas{
    font-size: 20px;
    margin: 0 10px;
    vertical-align: middle;
    
}
.player .fas:hover,
.player .far:hover{
    cursor: pointer;
    
}
.player .far:hover{
    transform: scale(1.2);
    
    
}
.fa-play-circle{
    font-size: 30px;
    margin: 0 10px;
    vertical-align: middle;
    transition: all .3s ease-in;
}
.slide-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slide-line{
    margin: 0 2%;
    width: 100px;
    height: 5px;
    border-radius: 20px;
    background-color: grey;
    flex-grow: 1;
    flex-shrink: 2;
    
  
}

.slide-line-active{
    height: 100%;
    width: 20%;
    background-color: rgb(229, 228, 228);
    position: relative;
    border-radius: 20px;
}
.dot{
    padding: 7px;
    border-radius: 50%;
    background-color: lightgrey;
    display: inline-block;
    position: absolute;
    bottom: -5px;
    left: 100%;
    display: none;
}
.slide-line:hover{
    cursor: pointer;
}
.slide-bar:hover .dot{
    display: block;
    cursor: pointer;
}
.slide-bar:hover .slide-line-active{
    background-color: yellowgreen;
}
.slide-time{
    color: white;
    font-size: .7em;
}

/* parte destra playbar */
.pl-right{
    min-width: 152px;
    color: white;
    line-height: 40px;

}
.pl-right .fas{
    font-size: 10px;
    padding-right: 2%;
}

.pl-right .slide-line{
    display: inline-block;
    width: 100%;
    flex-grow: 0;
    margin: 0;
    margin-right: 10px;
}
.volume-bar{
    display: inline-block;
    width: 55%;
}
.volume-bar:hover{
    cursor: pointer;
}
.pl-right .volume-bar:hover .dot{
    display: block;
}
.pl-right .volume-bar:hover .slide-line-active{
    background-color: yellowgreen;
    cursor: pointer;
}
.pl-right:hover .fas{
    cursor: pointer;
}
.fa-play-circle:hover{
    cursor: pointer;
}

#noborder{
    border-left: 3px solid transparent;
}
.f-none{
    display: none;
}

@media screen and (min-width: 769px) and (max-width: 1024px)
{
   .main-section .row{
        flex-wrap: wrap;
    }
    .box{
        margin: 20px 15px 20px 0;
        width: calc(100% / 4 - 15px);
        text-align: center;
        
    }
}

@media screen and (min-width: 600px) and (max-width: 768px)
{
    .main-section .row{
        flex-wrap: wrap;
    }
    .box{
        margin: 20px 15px 20px 0;
        width: calc(100% / 2 - 15px);
        text-align: center;
        
    }
}
@media screen and  (max-width: 599px)
{
    .main-section .row{
        flex-wrap: wrap;
    }
    .box{
        margin: 20px 15px 20px 0;
        width: calc(100% / 2 - 15px);
        text-align: center;
        
    }
    .playlist,
    .logo,
    .none{
        display: none;
    }
   .aside-foot{
       padding:0;
       text-align: center;
   }
    .aside-foot img{
        margin-bottom: 15px;
    }
    .aside-foot .user img{
        margin-bottom: 0;
    }
    #f-logo{
        display: block;
        width: 20px;
        height: 20px;
        filter: brightness(20);
        cursor: pointer;
        margin-bottom: 15px;
        margin-left: 7px;
        margin-top: 10px;
        
        
        
    }
    #f-logo:hover{
        filter: brightness(20);
    }
  
    aside{
        width: 50px;
    }
    .menu ul{
        
        text-align: center;
        list-style-type: none;
       
    }
  
    .menu ul li {
        padding: 0 5px;
        text-align: center;
        border-right:  3px solid transparent;
    }
    .main-container,
    .top-upgrade{
        width: calc(100% - 50px);
    }
}
@media screen and (max-height: 560px){ 
    .aside-foot .user{
        display: none;
    }
    .line{
        margin-bottom: 0;
    }
   
}
@media screen and (max-height: 500px){ 
    .aside-foot{
        display: none;
    }
    
}
