/* RESET */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* HEADER */
header{
    height: 7vh;
    background-color: rgb(7, 7, 15);
    text-align: right;
    padding: 20px 0;
   
}
.upgrade{
    text-transform: uppercase;
    padding: 10px 20px;
    border: 2px solid grey;
    border-radius: 20px;
    background-color: transparent;
    color: white;
    
}